apiVersion: apps/v1
kind: Deployment
metadata:
  name: store
spec:
  replicas: 1
  selector:
    matchLabels:
      app: store
  template:
    metadata:
      labels:
        app: store
    spec:
      containers:
        - name: store
          image: ghcr.io/ame-digitals/store:2.1.7
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: DATABASE_URL
              value: "postgresql://bgmsa:changeme123@postgres:5432/bgmsa"
          envFrom:
            - secretRef:
                name: store-secrets
          resources:
            requests:
              cpu: 25m
              memory: 250Mi
            limits:
              memory: 250Mi
          readinessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 15
            timeoutSeconds: 5
